.DS_Store
**/.DS_Store
log.txt
**/log.txt
**/*.log

.projectile-cache*

.ipynb_checkpoints/
**/.ipynb_chechpoints
__pycache__/
**/__pycache__
*.py[oc]
build/
dist/
wheels/
*.egg-info

node_modules
.venv
.aider*
.logfire

local
db
